
* {
  --text: #02475e;
  --dark-accent: #687980;
  --accent: #f3bda1;
  --bg: #fefecc;
  --black: #000;
  --white: #fff;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

main {
  width: 1000px;
  max-width: 90%;
  margin: 80px auto 0;
  text-align: center;
}

.mission {
  height: 38px;
  font-size: 38px;
  color: var(--black);
  font-weight: 700;
}

.table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.table__player {
  padding: 24px 32px 38px;
  width: 470px;
  max-width: 48%;
  text-align: left;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.general {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 40px 32px;
  margin-bottom: 32px;
}

h1, h2 {
  margin: 0;
}

h1 {
  margin-bottom: 24px;
}

h2 .counter {
  width: auto;
}

.objectives {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 32px;
}

p {
  font-size: 28px;
  margin-bottom: 12px;
}

.objectives li {
  font-size: 28px;
  margin-bottom: 8px;
  user-select: none;
}

.objectives li:first-of-type {
  margin-bottom: 16px;
}

.objectives input {
  width: 300px;
}

.faction input {
  width: 270px;
}

.accented {
  color: var(--black);
  font-weight: 700;
}

.editable {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: var(--accent);
  border: none;
  outline: none;
  border-radius: 4px;
  height: 100%;
}

.table__input-block {
  height: 33px;
  display: flex;
  align-items: center;
}

.table__input-block .accented {
  margin-left: 8px;
}

.round {
  font-size: 48px;
  user-select: none;
}

p.important {
  font-size: 36px;
  user-select: none;
}

.counter {
  width: 50px;
  display: inline-block;
  text-align: left;
}