
* {
  --text: #02475e;
  --dark-accent: #687980;
  --accent: #f3bda1;
  --bg: #fefecc;
  --black: #000;
}

body {
  background: var(--bg);
  color: var(--text);
}

main {
  width: 1200px;
  max-width: 90%;
  margin: 80px auto 0;
  text-align: center;
}

.mission {
  height: 38px;
  font-size: 38px;
  color: var(--black);
  font-weight: 700;
}

.table {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.table__player {
  padding: 0 16px;
}

.objectives {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 32px;
}

p {
  font-size: 28px;
  margin-bottom: 12px;
}

.objectives li {
  font-size: 28px;
  margin-bottom: 8px;
  user-select: none;
}

.objectives li:first-of-type {
  margin-bottom: 16px;
}

.objectives input {
  width: 250px;
}

.accented {
  color: var(--black);
  font-weight: 700;
  cursor: pointer;
}

.editable {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: var(--accent);
  border: none;
  outline: none;
  border-radius: 4px;
}

.round {
  font-size: 48px;
  user-select: none;
}

p.important {
  font-size: 36px;
  user-select: none;
}

.counter {
  width: 80px;
  display: inline-block;
  text-align: left;
}